.select {
  position: relative;
}
.select .selectBtn {
  background: var(--bg1);
  padding: 4px;
  box-sizing: border-box;
  border-radius: 3px;
  width: 12px;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #fff;
  transition: box-shadow 0.1s ease-out 0s;
}

.select-btn-wrapper {
  display: flex;
}

.select .selectBtn:after {
  content: "";
  position: absolute;
  top: 45%;
  right: 0;
  width: 6px;
  height: 6px;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  border-right: 2px solid #666;
  border-bottom: 2px solid #666;
  transition: 0.2s ease;
}
.select .selectBtn.open-dropdown {
  border-radius: 3px 3px 0 0;
}
.select .selectBtn.open-dropdown:after {
  -webkit-transform: translateY(-50%) rotate(-135deg);
  transform: translateY(-50%) rotate(-135deg);
}
.select .selectDropdown {
  position: absolute;
  top: 100%;
  width: 100%;
  border-radius: 0 0 3px 3px;
  overflow: hidden;
  background: var(--bg1);
  border-top: 1px solid #eee;
  z-index: 1;
  background: #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transform-origin: top center;
  transform-origin: top center;
  visibility: hidden;
  transition: 0.2s ease;
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-height: 220px;
  overflow: auto;
}
.select .selectDropdown .option {
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: rgba(75, 71, 83, 0.8) 0px 0px 0px 1px inset;
  background-color: rgba(234, 232, 232, 0.8);
}

.select .selectDropdown .option:hover {
  background: rgba(188, 188, 188, 0.8);
}
.select .selectDropdown.open-dropdown {
  visibility: visible;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.select .input {
  box-shadow: none;
}

.select {
  box-shadow: rgba(75, 71, 83, 0.3) 0px 1px;
}

.select .input:focus + .selectBtn {
  border-radius: 0;
  box-shadow: rgb(75, 71, 83) 0px 2px;
}

.option {
  display: flex;
  gap: 4px;
}

.option span {
  text-transform: uppercase;
}

.option.disabled {
  display: none;
}

@media screen and (max-width: 768px) {
  .select .selectBtn {
    padding-right: 0;
  }
}
